.container{
	width: 650px;
	margin: 0 auto;
	color: white;
}

@media ( max-width: 500px ){

	.container{
		width: 400px;
	}
}


@media ( max-width: 760px ){

	.container{
		width: 600px;
	}
}